@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$warning: rgb(214, 162, 18);
$info: rgb(75, 113, 227);
$danger: #e7514f;
$success: #37b068;
$Violet: #753d6d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 200vh;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
}

nav {
  background: white;
  text-align: right;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;

  button,
  .btn {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    padding: 8px 20px;
    transition: 0.1s all ease-in-out;
    margin: 10px;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 1px solid $Violet;
    }
  }

  .btn.btn-active {
    background-color: #f4b700;
    text-decoration: underline;
  }

  .login {
    border: 1px solid $Violet;
    border-radius: 16px;
    color: $Violet;
    padding: 8px 30px;
    transition: 0.1s all ease-in-out;

    &:hover {
      color: white;
      background-color: $Violet;
    }
  }

  .logo {
    position: absolute;
    left: 0;
    top: -25px;

    &:active,
    &:focus,
    &:hover {
      border: none;
    }
  }
}

main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0;
  }

  p {
    margin: 1rem 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #1791b3;
      box-shadow: #00576e 0 2px 8px 2px;
      color: #fff;
      padding: 1rem;

      footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > * + * {
          margin-left: 1rem;
        }
      }

      button,
      .btn {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
    }

    li + li {
      margin-top: 2rem;
    }
  }

  article {
    $bg-color-1: #fffcf2;
    $bg-color-2: #fff6dd;

    background: repeating-linear-gradient(
      45deg,
      $bg-color-1,
      $bg-color-1 10px,
      $bg-color-2 10px,
      $bg-color-2 20px
    );
    box-shadow: #00576e 0 2px 8px 2px;
    margin: 2em 1em;
    padding: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      background: #ddc47d;
      color: white;
      margin: 0;
      padding: 1rem 0.5rem;
    }
  }

  .home-container {
    .slide-container {
      background-image: url("./assets/massage.jpg");
      background-position: center;
      background-size: cover;
      height: 600px;
      margin: 20px 40px 40px 40px;
      border-radius: 64px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);

  .modal {
    background-color: #fff;
    position: relative;
    width: 700px;
    min-height: 250px;
    padding: 30px 20px 20px 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .modal-title {
      font-size: 23px;
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 10px 0;
      color: $info;

      &.danger {
        color: $danger;
      }
      &.warning {
        color: $warning;
      }
      &.success {
        color: $success;
      }
    }

    .modal-description {
      font-size: 18px;
      line-height: 25px;
    }

    .modal-buttons button {
      font-size: 18px;
      letter-spacing: 2px;
      padding: 10px;
      width: 200px;
      margin-top: 25px;
      margin-right: 20px;
      border-radius: 8px;
      border: none;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .modal-buttons button:hover {
      opacity: 80%;
    }

    .modal-accept {
      background-color: $success;
    }

    .modal-decline {
      background-color: $danger;
    }

    .modal-close-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: gray;
      }
    }
  }
}

.date-container {
  display: flex;
  width: 90%;
  justify-content: space-around;
  gap: 20px;
  background-color: #fff;
  padding: 50px 40px 40px 40px;
  margin: 50px 0;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .date-check-in {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    header {
      position: absolute;
      top: -18px;
      left: 0;
      color: rgba(30, 30, 30, 0.6);
      font-size: 14px;
    }

    input {
      border: none;
      font-size: 16px;
      font-family: "monospace", "Arial", sans-serif;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .date-nights {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    .date-nights-img {
      cursor: pointer;
    }

    .date-nights-moon-img {
      position: absolute;
      top: -25px;
      left: 6px;
    }
  }

  .date-check-out {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    font-size: 16px;
    font-family: "monospace", "Arial", sans-serif;

    header {
      position: absolute;
      top: -18px;
      left: 0;
      color: rgba(30, 30, 30, 0.6);
      font-size: 14px;
    }

    input {
      border: none;
      font-size: 16px;
      font-family: "monospace", "Arial", sans-serif;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .date-guest {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    .date-guest-img {
      cursor: pointer;
    }

    header {
      position: absolute;
      top: -18px;
      left: 0;
      color: rgba(30, 30, 30, 0.6);
      font-size: 14px;
    }
  }
  .date-search-btn-container {
    display: flex;

    .date-search-btn {
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background: #753d6d;
      padding: 10px 60px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-size: 18px;
      border: none;

      &:hover {
        opacity: 90%;
      }
    }
  }
}

.date-data-picker-container {
  position: absolute;

  .date-data-picker {
    position: absolute;
    top: 40px;
    width: 250px;
    padding: 8px 24px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:focus {
      outline: none;
    }

    .date-data-picker-header {
      color: rgba(30, 30, 30, 0.6);
      font-size: 16px;
      border-bottom: 1px solid rgba(30, 30, 30, 0.6);
    }

    .date-picker {
      margin-top: 8px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .date-picker-image {
        position: relative;
        top: -2px;
      }

      .date-picker-plus-icon {
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }

      .date-picker-minus-icon {
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
