@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$warning: rgb(214, 162, 18);
$info: rgb(75, 113, 227);
$danger: #e7514f;
$success: #37b068;
$Violet: #753d6d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  background-color: #fff;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  min-height: 100vh;
}

nav {
  background: white;
  text-align: right;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;

  button,
  .btn {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    padding: 8px 20px;
    transition: 0.1s all ease-in-out;
    margin: 10px;
    position: relative;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 1px solid $Violet;
    }
  }

  .btn.btn-active {
    background-color: #f4b700;
    text-decoration: underline;
  }

  .login {
    border: 1px solid $Violet;
    border-radius: 16px;
    color: $Violet;
    padding: 8px 30px;
    transition: 0.1s all ease-in-out;

    &:hover {
      color: white;
      background-color: $Violet;
    }
  }

  .logo {
    position: absolute;
    left: 0;
    top: -25px;

    &:active,
    &:focus,
    &:hover {
      border: none;
    }
  }

  .shopping-cart-element {
    position: absolute;
    background-color: $Violet;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    min-width: 20px;
    line-height: 20px;
    top: 0;
    right: 0;
  }
}

main {
  min-height: 100vh;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0;
  }

  p {
    margin: 1rem 0;
  }

  article {
    $bg-color-1: #fffcf2;
    $bg-color-2: #fff6dd;

    background: repeating-linear-gradient(
      45deg,
      $bg-color-1,
      $bg-color-1 10px,
      $bg-color-2 10px,
      $bg-color-2 20px
    );
    box-shadow: #00576e 0 2px 8px 2px;
    margin: 2em 1em;
    padding: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      background: #ddc47d;
      color: white;
      margin: 0;
      padding: 1rem 0.5rem;
    }
  }

  .home-container {
    .slide-container {
      background-image: url("./assets/massage.jpg");
      background-position: center;
      background-size: cover;
      height: 600px;
      margin: 20px 40px 40px 40px;
      border-radius: 64px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .content-container {
      text-align: center;
      width: 70%;
      margin: 0 auto;

      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 90px;
      }

      .items-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .item {
          width: 33%;
        }
      }
    }
  }

  .room-list {
    margin-top: 80px;
    header {
      text-align: center;
      margin-top: 200px;
    }

    .list-item {
      margin: 50px auto;
      width: 90%;
      border-radius: 32px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      background-color: #fff;
      color: black;
      display: flex;
      height: 300px;
      overflow: hidden;

      .image-container {
        width: 25%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .room-info-container {
        width: 75%;
        padding: 20px;
        position: relative;

        h4 {
          margin: 0;
          padding-bottom: 8px;
        }

        ul {
          list-style: square;
          margin-left: 15px;
          color: rgba(0, 0, 0, 0.6);
        }

        .room-price {
          color: rgba(0, 0, 0, 0.6);
          font-weight: 600;
          font-size: 25px;
          position: absolute;
          right: 50px;
          top: 100px;
        }

        .read-more-btn button {
          border: none;
          background-color: transparent;
          color: #085c8b;
          cursor: pointer;
          position: absolute;
          bottom: 16px;

          &:hover {
            opacity: 80%;
          }
        }

        .book-now-btn button {
          border: none;
          background-color: $Violet;
          color: #fff;
          cursor: pointer;
          position: absolute;
          bottom: 25px;
          right: 50px;
          font-weight: 600;
          font-size: 16px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          border-radius: 16px;
          padding: 12px 30px;

          &:hover {
            opacity: 80%;
          }
        }
      }
    }
  }

  .room-details-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);

    .room-details {
      background-color: #fff;
      position: relative;
      width: 75%;
      height: 800px;
      border-radius: 32px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .room-details-image {
        height: 50%;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      .room-details-info {
        position: absolute;
        width: 600px;
        border-radius: 32px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        left: 5%;
        top: 35%;
        bottom: 10%;
        background-color: #fff;
        padding: 30px 30px;
        color: rgba(0, 0, 0, 0.6);

        .room-details-info-room-name {
          font-weight: 600;
          font-size: 20px;
          color: black;

          display: inline-block;
          margin-bottom: 16px;
        }
      }

      .room-details-amenities {
        position: relative;
        height: 50%;
      }

      .room-details-amenities ul {
        position: absolute;
        top: 30%;
        right: 10%;
        color: rgba(0, 0, 0, 0.6);
      }

      .room-details-btn {
        position: absolute;
        width: 300px;
        height: 150px;
        border-radius: 32px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        right: 5%;
        top: 35%;
        background-color: #fff;
        padding: 30px 30px;
        color: rgba(0, 0, 0, 0.6);
        text-align: center;

        button {
          border: none;
          background-color: $Violet;
          color: #fff;
          cursor: pointer;
          position: absolute;
          bottom: 25px;
          right: 50px;
          font-weight: 600;
          font-size: 16px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          border-radius: 16px;
          padding: 12px 30px;

          &:hover {
            opacity: 80%;
          }
        }

        strong {
          font-weight: 600;
          font-size: 25px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  .treatment-list {
    width: 80%;
    margin: 80px auto;
    header {
      text-align: center;
      margin-top: 200px;
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 50px;

      .treatmet-item {
        height: 500px;
        width: 300px;
        border-radius: 32px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        position: relative;

        .treatmet-item-image {
          height: 50%;
          width: 100%;
          overflow: hidden;
          position: relative;
          border-top-left-radius: 32px;
          border-top-right-radius: 32px;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .treatmet-item-info {
          h4 {
            margin: 16px;
          }

          .treatmet-item-info-add-to-cart-btn button {
            border: none;
            background-color: $Violet;
            color: #fff;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 16px;
            padding: 12px 40px;

            position: absolute;
            transform: translate(-50%);
            left: 50%;
            width: 70%;
            bottom: 40px;

            &:hover {
              opacity: 80%;
            }
          }

          .treatmet-item-info-read-more-btn button {
            border: none;
            background-color: transparent;
            color: #085c8b;
            cursor: pointer;
            &:hover {
              opacity: 80%;
            }
          }

          .treatmet-item-info-price {
            display: inline-block;
            font-weight: 500;
            font-size: 25px;
            color: rgba(0, 0, 0, 0.6);
            padding: 16px 0;
          }
        }
      }
    }
  }

  .treatment-details-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);

    .treatment-details{
      background-color: #fff;
      position: relative;
      width: 600px;
      height: 800px;
      border-radius: 32px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;

      .treatment-details-image {
        height: 40%;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      .treatment-details-info{
        padding: 16px;
        h4{
          font-weight: 600;
          font-size: 20px;
          color: black;
          display: inline-block;
          margin-bottom: 16px;
          margin-top: 16px;
        }
        p{
          color: rgba(0, 0, 0, 0.6);
        }

        .treatment-details-info-price{
          display: inline-block;
            font-weight: 600;
            font-size: 25px;
            color: rgba(0, 0, 0, 0.6);
            padding: 16px 0;

            position: absolute;
            transform: translate(-50%);
            left: 50%;
            width: 50%;
            bottom: 100px;
        }

        .treatment-details-info-add-to-cart button{
          border: none;
            background-color: $Violet;
            color: #fff;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 16px;
            padding: 12px 40px;

            position: absolute;
            transform: translate(-50%);
            left: 50%;
            width: 50%;
            bottom: 40px;

            &:hover {
              opacity: 80%;
            }
        }
      }

    }
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);

  .modal {
    background-color: #fff;
    position: relative;
    width: 700px;
    min-height: 250px;
    padding: 30px 20px 20px 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .modal-title {
      font-size: 23px;
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 10px 0;
      color: $info;

      &.danger {
        color: $danger;
      }
      &.warning {
        color: $warning;
      }
      &.success {
        color: $success;
      }
    }

    .modal-description {
      font-size: 18px;
      line-height: 25px;
    }

    .modal-buttons button {
      font-size: 18px;
      letter-spacing: 2px;
      padding: 10px;
      width: 200px;
      margin-top: 25px;
      margin-right: 20px;
      border-radius: 8px;
      border: none;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .modal-buttons button:hover {
      opacity: 80%;
    }

    .modal-accept {
      background-color: $success;
    }

    .modal-decline {
      background-color: $danger;
    }
  }
}

.date-container {
  display: flex;
  width: 90%;
  justify-content: space-around;
  gap: 20px;
  background-color: #fff;
  padding: 50px 40px 40px 40px;
  margin: 50px 0;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .date-check-in {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    header {
      position: absolute;
      top: -18px;
      left: 0;
      color: rgba(30, 30, 30, 0.6);
      font-size: 14px;
    }

    input {
      border: none;
      font-size: 16px;
      font-family: "monospace", "Arial", sans-serif;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .date-nights {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    .date-nights-img {
      cursor: pointer;
    }

    .date-nights-moon-img {
      position: absolute;
      top: -25px;
      left: 6px;
    }
  }

  .date-check-out {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    font-size: 16px;
    font-family: "monospace", "Arial", sans-serif;

    header {
      position: absolute;
      top: -18px;
      left: 0;
      color: rgba(30, 30, 30, 0.6);
      font-size: 14px;
    }

    input {
      border: none;
      font-size: 16px;
      font-family: "monospace", "Arial", sans-serif;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .date-guest {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    .date-guest-img {
      cursor: pointer;
    }

    header {
      position: absolute;
      top: -18px;
      left: 0;
      color: rgba(30, 30, 30, 0.6);
      font-size: 14px;
    }
  }
  .date-search-btn-container {
    display: flex;

    .date-search-btn {
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background: #753d6d;
      padding: 10px 60px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-size: 18px;
      border: none;

      &:hover {
        opacity: 90%;
      }
    }
  }

  
}

.shopping-cart-container{
  width: 90%;
  margin: 40px auto;
  text-align: center;
  
  .shopping-cart-header{
    text-align: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;



    div{
      display: flex;
      align-items: baseline;
      padding: 0 30px;



      strong{
        display: inline-block;
        padding: 0 16px;
        font-size: 42px;
        position: relative;
        top: 6px;
    
      }
    }

    div.active{
      color: black;
    }
  }

  table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;

    th{
      font-size: 20px;
      font-weight: 400;
      padding: 16px 0;
      border-bottom: 1px solid $Violet;
    }
    tr{
      border-bottom: 1px solid $Violet;
    }
    td{
      padding: 32px 0;
     

      div button {
        border: none;
            background-color: $Violet;
            color: #fff;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 16px;
            padding: 8px 60px;
            margin-top:8px;
            &:hover {
              opacity: 80%;
            }
      }
      .shopping-cart-total{
        color: rgba(0, 0, 0, 0.6) ;
        font-size: 20px;
        margin: 8px 0;
      }

    }

    td{
      padding: 32px 0;

      div button {
        border: none;
            background-color: $Violet;
            color: #fff;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 16px;
            padding: 8px 60px;
            margin-top:8px;
            &:hover {
              opacity: 80%;
            }
      }
      .shopping-cart-total{
        color: rgba(0, 0, 0, 0.6) ;
        font-size: 20px;
        margin: 8px 0;
      }
    }

    .table-last-row{
      border-bottom: none
    }

    .remove-from-cart-btn{
      background: none;
      border: none;
      cursor: pointer;
      


      &:hover {
        opacity: 80%;
      }

      img{
        height: 32px;
      width: 32px;
      }
    }
  }
}

.date-data-picker-container {
  position: absolute;

  .date-data-picker {
    position: absolute;
    top: 40px;
    width: 250px;
    padding: 8px 24px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:focus {
      outline: none;
    }

    .date-data-picker-header {
      color: rgba(30, 30, 30, 0.6);
      font-size: 16px;
      border-bottom: 1px solid rgba(30, 30, 30, 0.6);
    }

    .date-picker {
      margin-top: 8px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .date-picker-image {
        position: relative;
        top: -2px;
      }

      .date-picker-plus-icon {
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }

      .date-picker-minus-icon {
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

.login-container{ 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  z-index: 9999;

  .login{
    background-color: #fff;
    position: relative;
    width: 550px;
    min-height: 700px;
    padding: 30px 20px 20px 40px;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;

    img{
      width: 200px;
      height: 200px;
    }

    h4{
      margin-top: 0;
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
    }

    input{
      display: block;
      margin: 14px auto;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 16px;
      border: none;
      height: 52px;
      width: 70%;
      color: white;
      padding-left: 12px;
      cursor: pointer;

      &:active,
    &:focus,
    &:hover {
      outline: none;
    }

    &::placeholder{
      color: white;
      opacity: 100%;
      font-weight: 400;
    }
    }

    button{
      border: none;
      background-color: $Violet;
      width: 70%;
      height: 52px;
            color: #fff;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 16px;
            padding: 8px 60px;
            margin-top:8px;
            &:hover {
              opacity: 80%;
            }
    }

    h4.login-forgot-password{
      font-weight: 400;
font-size: 16px;
color: #085C8B;
cursor: pointer;
margin-top: 24px;
    }

    p{
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);

      & strong{
        color: #085C8B;
        cursor: pointer;
        font-weight: 400;
      }
    }
  }
}

.forgot-password-container{ 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  z-index: 9999;

  .forgot-password{
    background-color: #fff;
    position: relative;
    width: 550px;
    min-height: 700px;
    padding: 30px 20px 20px 40px;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;

    img{
      width: 200px;
      height: 200px;
    }

    h4{
      width: 90%;
      margin: 0 auto 30px auto;
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
    }

    input{
      display: block;
      margin: 14px auto;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 16px;
      border: none;
      height: 52px;
      width: 70%;
      color: white;
      padding-left: 12px;
      cursor: pointer;

      &:active,
    &:focus,
    &:hover {
      outline: none;
    }

    &::placeholder{
      color: white;
      opacity: 100%;
      font-weight: 400;
    }
    }

    button{
      border: none;
      background-color: $Violet;
      width: 70%;
      height: 52px;
            color: #fff;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 16px;
            padding: 8px 60px;
            margin-top:8px;
            &:hover {
              opacity: 80%;
            }
    }

    h4.forgot-password-sign-in{
      font-weight: 400;
      font-size: 16px;
      color: #085C8B;
      cursor: pointer;
      margin-top: 24px;
    }

  }


  
}

.sign-up-container{ 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  z-index: 9999;

  .sign-up{
    background-color: #fff;
    position: relative;
    width: 550px;
    min-height: 700px;
    padding: 30px 20px 20px 40px;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;

    img{
      width: 200px;
      height: 200px;

    }

    h4{
      position: relative;
      top: -8px;
      margin: 0 auto 30px auto;
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
    }

    input{
      display: block;
      margin: 14px auto;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 16px;
      border: none;
      height: 52px;
      width: 70%;
      color: white;
      padding-left: 12px;
      cursor: pointer;

      &:active,
    &:focus,
    &:hover {
      outline: none;
    }

    &::placeholder{
      color: white;
      opacity: 100%;
      font-weight: 400;
    }
    }

    .sign-up-password-indicator-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      margin: 32px auto;

      div{
        height: 8px;
        width: 100px;
        border-radius: 4px;
        background: green;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }

    button{
      border: none;
      background-color: $Violet;
      width: 70%;
      height: 52px;
            color: #fff;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 16px;
            padding: 8px 60px;
            margin-top:8px;
            &:hover {
              opacity: 80%;
            }
    }

    p{
      margin-top: 16px;
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);

      & strong{
        color: #085C8B;
        cursor: pointer;
        font-weight: 400;
      }
    }

  }


  
}

footer {
  margin-top: 100px;
  text-align: center;
  background-color: #1e272e;
  color: white;
  height: 100px;
  line-height: 100px;
}
